section.examples#works
  .wrapper.examples__wrapper
    h2.title-h2.code__title Work <span class="color--orange">examples</span>:
    .examples__container

      +example({
        img: "project-1-preview",
        link: "https://promo.elf-lub.ru/"
      })
      +example({
        img: "project-2-preview",
        link: "https://heinz-baby.ru/"
      })
      +example({
        img: "project-4-preview",
        link: "https://dialogue-trianon.ru/"
      })
      +example({
        img: "project-3-preview",
        link: "http://reprisedigital.ru/"
      })
