footer.footer
  .footer__wrapper
    .footer__left-part
      a(href="https://github.com/ShkredovDmitriy" target="_blank").footer__github-link
        svg.icon
          use(href="#icon-github")
      a(href="https://www.linkedin.com/in/dmitriy-shkredov-58467221a" target="_blank").footer__linkedin-link
        svg.icon
          use(href="#icon-linkedin")
    .footer__center-part
      .footer__foundation 2022
    .footer__right-part
      a(href="https://rs.school/js/" target="_blank").footer__rs-link
        svg.icon
          use(href="#icon-rsschool")

