footer.footer
  .footer__wrapper
    .footer__left-part
      ul.footer__link-list
        li.footer__link-item
          a(href="https://github.com/ShkredovDmitriy" target="_blank").footer__link
            svg.icon
              use(href="#icon-github")
        li.footer__link-item
          a(href="https://www.linkedin.com/in/shkredovdmitry/" target="_blank").footer__link
            svg.icon
              use(href="#icon-linkedin")
        li.footer__link-item
          a(href="mailto:shkredovdmitriy@gmail.com" target="_blank").footer__link
            svg.icon
              use(href="#icon-email")
    .footer__center-part
      .footer__foundation 2022
    .footer__right-part
      a(href="https://rs.school/js/" target="_blank").footer__rs-link
        svg.icon
          use(href="#icon-rsschool")

