section.code
  .wrapper.code__wrapper
    h2.title-h2.code__title <span class="color--orange">Code</span> example:
    .container
      p.text Task from Codewars: Ñalculate the factorial with do while
      pre.code__example.
        let number = prompt("Enter number");
        let factorial = 1;
        do {
            if (counter == 0) {
                factorial = 1;
                break;
            }
            factorial = factorial * counter;
            counter = counter - 1;
        }
        while (counter > 0);
        document.write(factorial);










