section.summary#summary
  .wrapper.summary__wrapper
    h2.title-h2.summary__title A bit <span class="color--orange">about</span> Myself:
    .container
      p.text.summary__text I started my career as a Windows administrator in 2007. I worked in a small company and was engaged in the repair and maintenance of computers on the Windows operating system. During this time, I was impressed with the linux operating system and began to study it intensively.
      p.text.summary__text In 2012 I got a job as a Linux administrator. I worked in the same company and was engaged in the repair and maintenance of Linux data servers. During this time, I became interested in HTML and CSS.
      p.text.summary__text In 2017, I got a job as a QA Web Tester. It was a small company that specialized in creating websites. It was a new world for me. I studied the latest technologies for website testing. I have used BrowserStack, W3C Validator, Cypress, Postman, Google Lighthouse.
      p.text.summary__text In 2018, I completed the HTML Academy online courses and got a new job. I became a Front-End Developer. Despite a busy work schedule, I continued to learn new technologies for creating websites and improve my knowledge.
      p.text.summary__text Now I work with clients from all over the world. I use the latest technologies such as Pug, Scss, React, Vue, Nodejs, Webpack, Git, Docker, Eslint. In addition to the frontend, I am also interested in the backend. In my pet projects I have used TypeScript, Express and MongoDB. Also in my spare time I study English on the Skyeng platform.
      p.text.summary__text I will be glad to help you with your new project.