section.work
  .wrapper.work__wrapper
    h2.title-h2.work__title Work <span class="color--orange">experience</span>:
    .container
      ul.work__list
        li.work__item 2007 - 2012 - Worked in technical support for Windows users
        li.work__item 2012 - 2017 - Worked as a Linux server administrator
        li.work__item 2017 - 2018 - Worked as QA Web Tester
        li.work__item 2018 - now - Worked as Web Developer
