section.languages#languages
  .wrapper.languages__wrapper
    h2.title-h2.languages__title Languages
    .container
      ul.work__list
        li.work__item Ukrainian - native speaker
        li.work__item Russian - native speaker
        li.work__item English - A2 (B1 in process…)