html,
body {
  margin: 0;
  padding: 0;
  background-color: $color-white;
  font-family: $font-main;
  font-size: calc(100vw / 375 * 16);
  line-height: 1.3;
  color: $color-black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.svg-sprite {
  width: 0;
  height: 0;
  overflow: hidden;
}

@include media-mobile-wide {
  html,
  body {
    font-size: calc(100vw / 480 * 16);
  }
}

@include media-tablet {
  html,
  body {
    font-size: calc(100vw / 680 * 16);
  }
}

@include media-tablet-wide {
  html,
  body {
    font-size: 16px;
  }
}

@include media-notebook {
  html,
  body {
    font-size: 16px;
  }
}
