.personal
  h1.title-h1.personal__name Dmitriy <span class="color--orange">Shkredov</span>
  .personal__position Front-End Developer
  .personal__links
    a(href="https://github.com/ShkredovDmitriy" target="_blank").personal__link
      svg.icon
        use(href="#icon-github")
    a(href="https://www.linkedin.com/in/dmitriy-shkredov-58467221a" target="_blank").personal__link
      svg.icon
        use(href="#icon-linkedin")
    a(href="mailto:shkredovdmitriy@gmail.com" target="_blank").personal__link
      svg.icon
        use(href="#icon-email")
