.personal
  h1.title-h1.personal__name Dmitriy <span class="color--orange">Shkredov</span>
  .personal__position Front-End Developer
  ul.personal__link-list
    li.personal__link-item
      a(href="https://github.com/ShkredovDmitriy" target="_blank").personal__link
        svg.icon
          use(href="#icon-github")
    li.personal__link-item
      a(href="https://www.linkedin.com/in/shkredovdmitry/" target="_blank").personal__link
        svg.icon
          use(href="#icon-linkedin")
    li.personal__link-item
      a(href="mailto:shkredovdmitriy@gmail.com" target="_blank").personal__link
        svg.icon
          use(href="#icon-email")
    li.personal__link-item
      a(href="https://discord.com/users/902152026203512883" target="_blank").personal__link
        svg.icon
          use(href="#icon-discord")
