.personal
  h1.title-h1.personal__name Dmitriy <span class="color--orange">Shkredov</span>
  .personal__position Front-End Developer
  .personal__links
    a(href="https://github.com/ShkredovDmitriy" target="_blank").personal__link
      svg.icon
        use(href="#icon-github")
    a(href="https://github.com/ShkredovDmitriy" target="_blank").personal__link
      svg.icon
        use(href="#icon-linkedin")
