nav.nav
  ul.nav__list
    li.nav__item
      a.nav__link(href="#contacts") Contacts
    li.nav__item
      a.nav__link(href="#summary") Summary
    li.nav__item
      a.nav__link(href="#skills") Skills
    li.nav__item
      a.nav__link(href="#code") Code
    li.nav__item
      a.nav__link(href="#works") Works
    li.nav__item
      a.nav__link(href="#experience") Experience
    li.nav__item
      a.nav__link(href="#education") Education
    li.nav__item
      a.nav__link(href="#languages") Languages