nav.nav
  ul.nav__list
    li.nav__item
      a.nav__link(href="#") Contacts
    li.nav__item
      a.nav__link(href="#") Summary
    li.nav__item
      a.nav__link(href="#") Skills
    li.nav__item
      a.nav__link(href="#") Code
    li.nav__item
      a.nav__link(href="#") Courses
    li.nav__item
      a.nav__link(href="#") Education