section.education#education
  .wrapper.education__wrapper
    h2.title-h2.code__title Education <span class="color--orange">and</span> courses:
    .container
      ul.work__list
        li.work__item 2002 - 2007 - Kharkov Institute of Market Relations
        li.work__item 2017 - 2018 - HTML Academy Online Courses
        li.work__item 2021 - 2022 - EDES Online Courses
        li.work__item 2022 - now - SkyEng Online Courses